.MantenPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color:#fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tittle {
  font-size: 2rem;
  color: #333;
  margin-bottom: 15px;
  margin-top: 15px;
}

.active-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Ajuste para que los filtros estén alineados en línea y no tan separados */
.filter-section {
  display: flex;
  justify-content: flex-start; /* Alineación a la izquierda */
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1em;
  gap: 150px; /* Se redujo el espacio general entre filtros */
}

/* Agrupar el estado y el responsable en columna */
.filter-group {
  display: flex;
  flex-direction: column;
  gap: 5px;  /* Se redujo el espacio entre los elementos dentro del grupo */
  width: 220px;  /* Se ajustó el ancho para reducir la separación horizontal */
}

.filter-group1 {
  display: flex;
  flex-direction: column; /* Cambiar a columna para que los elementos estén alineados verticalmente */
  align-items: flex-start;
  gap: 20px; /* Ajustar el espacio entre los filtros */
  margin-top: 1em;
}
/* Agrupar el responsable y el checkbox en fila */
.filter-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Ajustes al label y select para mejor alineación */
.filter-group label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}

.filter-select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  font-family: 'Times New Roman', Times, serif;
}

/* Calendarios alineados verticalmente */
.options-calendar {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 10px;
  width: 180px;
  margin-left: 50px;
  
}

.options-calendar input {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.options-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 30px;
  gap: 10px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #7c181a;
}

/* Estilo para la sección de búsqueda */
.actions-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.search-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  font-family: 'Times New Roman', Times, serif;
}

.action-buttons {
  display: flex;
  margin-top: 10px;
}

/* Botones principales y secundarios */
.primary-button,
.secondary-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif;
}

.primary-button {
  background-color: #7c181a;
  color: white;
  border: none;
}

.primary-button:hover {
  background-color: #db212f;
}

.secondary-button {
  background-color: #7c181a;
  color: white;
  border: none;
  font-size: 12px;
  margin-left: 40px;
  margin-top: 5px;
}

.secondary-button:hover {
  background-color: #db212f;
}

/* Estilos de la tabla de datos */
.react-data-table {
  margin-top: 20px;
}

.react-data-table .rdt_Table {
  border: 1px solid #0f0f0f;
  border-radius: 5px;
}

.react-data-table .rdt_TableHeader {
  background-color: #f8f9fa;
}

.react-data-table .rdt_TableHead {
  font-weight: bold;
}

.react-data-table .rdt_TableRow {
  background-color: #ffffff;
}

.react-data-table .rdt_TableRow:hover {
  background-color: #f1f1f1;
}

.react-data-table .rdt_TableBodyRow {
  border-bottom: 1px solid #ddd;
}

.react-data-table .rdt_TableCell {
  padding: 12px;
  text-align: left;
}

.react-data-table .rdt_TableCell button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.react-data-table .rdt_TableCell button:hover {
  background-color: #0056b3;
}
